<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Configurações de conexão com o banco de dados MySQL -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/Gerenciador_de_Tarefas</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">mysqlpassword</property>

        <!-- Configurações específicas do Hibernate -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Mapeamento de classes -->
        <mapping class="ifsuldeminas.pas.bcc.GerenciadordeTarefas.Usuario"/>
        <mapping class="ifsuldeminas.pas.bcc.GerenciadordeTarefas.Tarefa"/>
        <mapping class="ifsuldeminas.pas.bcc.GerenciadordeTarefas.Calendario"/>
        <mapping class="ifsuldeminas.pas.bcc.GerenciadordeTarefas.Colaboracao"/>
        <mapping class="ifsuldeminas.pas.bcc.GerenciadordeTarefas.Evento"/>
    </session-factory>
</hibernate-configuration>


